@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #F7E1E0;
    --color: #ED4545;
    --border: 1px solid var(--color);
}

* {
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


main {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#controls {
    border: var(--border);
    border-radius: 8px;
    margin: 15px;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

.el-wrapper {
    margin: 1rem;
    display: flex;
    flex-flow: row;
}

p {
    font-size: 20px;
    width: 115px;
}

input {
    font-size: 20px;
    border: none;
    border-bottom: var(--border);
    padding: 4px 31px;
    width: 132px;
    margin-left: 20px;
    background-color: #eee3;
}

button {
    background-color: var(--color);
    border: var(--border);
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    margin: 24px auto;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: var(--color);
    border: var(--border);
}

#result {
    border: var(--border);
    padding: 2rem;
    border-radius: 8px;
    margin: 1em auto;
    width: 700px;
}

#message {
    position: relative;
    top: 60px;
    padding: 15px 25px;
    background-color: var(--color);
    color: white;
    text-transform: uppercase;
    display: none;
    width: fit-content;
    margin: -25px auto;
    border-radius: 10px;
}

#wave-container {
    margin: auto;
    background-color: var(--color);
}

footer {
    background-color: var(--color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
}

footer > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.fa-github {
    color: white;
    font-size: 30px;
}

footer:hover {
    transform: scale(1.2);
    transition: all .5s;
}