@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #F7E1E0;
}

* {
    color: #ED4545;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#container {
    border: 1px solid #ED4545;
    border-radius: 8px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    background-color: #F7E1E0;
    z-index: 100;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

.el-wrapper {
    margin: 1rem;
    display: flex;
    flex-flow: row;
}

p {
    font-size: 20px;
    width: 115px;
}

input {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ED4545;
    padding: 4px 31px;
    width: 132px;
    margin-left: 20px;
}

button {
    background-color: #ED4545;
    border: 1px solid #ED4545;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    margin: 24px auto;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #ED4545;
    border: 1px solid #ED4545;
}

#result {
    display: none;
    color: rgb(237, 69, 69);
    border: 2px solid #ED4545;
    padding: 2rem;
    font-size: 15px;
    border-radius: 8px;
    margin: 1rem;
    width: 700px;
    margin-left: 5rem;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 25px;
    background-color: #ED4545;
    color: white;
    text-transform: uppercase;
    display: none;
}

#wave-container {
    margin-left: 5rem;
}

footer {
    background-color: #ED4545;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
}

footer > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.fa-github {
    color: white;
    font-size: 30px;
}

footer:hover {
    transform: scale(1.2);
    transition: all .5s;
}