@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #0B1D51;
    --color: #fff;
    --border: 1px solid var(--color);
}

* {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#controls {
    border: var(--border);
    border-radius: 8px;
    margin: 15px;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

.el-wrapper {
    margin: 1rem;
    display: flex;
    flex-flow: row;
}

p {
    font-size: 20px;
    width: 115px;
}

input {
    font-size: 20px;
    border: none;
    border-bottom: var(--border);
    padding: 4px 31px;
    width: 132px;
    margin-left: 20px;
    background-color: #eee3;
}

button {
    background-color: var(--color);
    border: var(--border);
    color: #0B1D51;
    padding: 12px 25px;
    border-radius: 25px;
    margin: 24px auto;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #0B1D51;
    border: var(--border);
}

#result {
    border: var(--border);
    padding: 2rem;
    border-radius: 8px;
    margin: 1em auto;
    width: 700px;
}

#message {
    position: relative;
    top: 60px;
    padding: 15px 25px;
    background-color: var(--color);
    color: #0B1D51;
    text-transform: uppercase;
    display: none;
    width: fit-content;
    margin: -25px auto;
    border-radius: 10px;
}

#wave-container {
    margin: auto;
    background-color: var(--color);
}


.footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .app-info {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .app-name {
    font-size: 1.5rem;
  }
  
  .links {
    display: flex;
    gap: 15px;
  }
  
  .links a i {
    font-size: 30px;
    color: white;
    margin: 0 5px;
  }
  .motto {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  

.fa-github {
    color: #0B1D51;
    font-size: 30px;
}